{% extends 'base.html' %}

{% block title %}
메인
{% endblock %}

{% load static %}
{% load my_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/mountain/main.css' %}">
{% endblock %}

{% block content %}
<div id="content-wrapper">
{% for category, mountains in total.items %}
    <div class="recommend-area">
        <hr>
        <h2>{{category|get_category_title}}</h2>
        <hr>
        {% for mountain in mountains %}
        {% with id=mountain.id|intToStr %}
        {% cycle 'even' 'odd' as step silent %}
        {% if step == 'even' %}
            <div class="one-row">
        {% endif %}
                <div class="image-wrapper" data-id="{{id}}">
                    {% with img_path='images/mountains/mountain_'|add:id|add:'.jpeg' %}
                        <img class="mountain-images" src="{% static img_path %}" alt="">
                    {% endwith %}
                    <p>{{mountain.mountain_name}}</p>
                </div>  
        {% if step == 'odd' %}
            </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/mountain/main.js' %}"></script>
{% endblock %}