.post-box {
    max-width: 422px;
    border: 4px solid #9DCDBF;
    border-radius: 12px;
    margin: 10px;
    padding: 2px;
}

.post-box hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    size: 6px;
}

/* 글쓴이 정보 */
.post-box .writer-box {
    display: flex;
    align-items: center;
    margin: 1rem 0 0.5rem 1rem;
}

/* 글쓴이 프로필 이미지 */
.post-box .writer-box .writer-img-wrapper {
    border: 1px solid rgb(215, 226, 236);
    border-radius: 28px;
    padding: 0.2rem;
}
.writer-img-wrapper > img {
    width: 2rem;
    height: 2rem;
    border-radius: 24px;
}

/* 글쓴이 이름과 포스트 산 이름 */
.post-box .writer-box .writer-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.4rem;
}

.writer-info > span {
    font-size: 15px;
}
.writer-info > span:nth-child(1) {
    font-weight: 800;
    margin-bottom: -0.15rem;
}
.writer-info > span:nth-child(2) {
    margin-top: -0.15rem;
}

#mountain-info{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.mountain-icon{
    margin-top: 6px;
    margin-left: 3px;
    font-size: 17px;
    color: black;
}
/* 사진 영역 */
.image-box {
    margin: 1rem;
}

.image-box img{
    width: 100%;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}

.content-box {
    margin-bottom: 10px;
}

.content-box div.title {
    padding-left: 20px;
}

.content-box div.post-location {
    padding-left: 20px;
}

.content-box div.post-location p {
    margin-bottom: 0;
}

.content-box div.post-text {
    padding-left: 20px;
}

.content-box div.post-text p {
    margin-bottom: 0;
}

/* 포스트 작성 시간 영역 */
.post-time {
    padding-left: 20px;
}

.post-time > span {
    color: rgb(177, 179, 184);
    font-size: 0.8rem;
}