body {
    z-index: -1;
    background-color: rgb(108, 208, 196);
}

#side-app {
    display: none;
}

#app {
    width: 100%;
    max-width: 422px;
    margin: 0 auto;
    justify-content: center;
}

/* header */
#header {
    position: fixed;
    max-width: 422px;
    width: 100%;
    height: 60px;
    top: 0px;
    background-color: #9dcdbf;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 999;
}

/* 메뉴 */
#header #menu-wrapper {
    margin-left: 10px;
}
#header #menu-wrapper > i {
    font-size: 42px; 
    cursor: pointer;
}
.offcanvas {
    width: 326px;
    background-color: #9dcdbf;
}

#menu-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#menu-btn-group > button {
    margin-bottom: 10px;
}


/* 로고 */
#header #logo-wrapper > img {
    width: 96px;
}

/* 뒤로 */
#header #search-back-wrapper {
    margin-left: 10px;
}
#header #search-back-wrapper > i {
    font-size: 38px;
    cursor: pointer;
}

/* 검색 창 */
#header #search-input {
    width: 70%;
}


#header #search-wrapper {
    margin-right: 10px;
}
#header #search-wrapper > i {
    font-size: 38px;
    cursor: pointer;
}

/* content */
#content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
    min-height: 100vh;
    height: 100%;
}

/* footer */
#footer {
    position: fixed;
    max-width: 422px;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #9dcdbf;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-button-wrapper > i {
    font-size: 34px;
    cursor: pointer;
}

/* 요소를 숨기는 클래스 */
.hide {
    display: none;
}

/* 마우스 커서 */
.finger-pointer {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    body {
        background: url("../images/background.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -1;
    }
    body > div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #side-app {
        width: 50%;
        height: 100vh;

        display: flex;
    }

    #side-app #left-logo-wrapper {
        position: fixed;
        top: 30%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    #app {
        margin: 0;
    }

    
}