.help-list {
    margin: 0 auto;
    width: 370px;
}

.btn-light2 {
    background-color: #9DCDBF;
    width: 90%;
    height: 60px;
    margin: 10px;
    font-size: 20px;
}

.review-inputbox {
    margin: 25px auto;
    width: 350px;
    height: 450px;
    background-color: #93beb1;
    text-align: center;
}

.review-inputbox textarea{
    width: 300px;
    height: 390px;
    margin-top: 30px;
}

.container {
    text-align: center;
}