{% extends 'base.html' %}

{% block title %}
    포스팅
{% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
{% endblock %}


{% block content %}
    {% for content in all_post %}
        <div class="post-box" onclick="location.href='/posts/{{ content.id }}/'">
            <div class="image-box">
                <img src="{{ content.hiking_img.url }}" alt="사진"/>
            </div>
            <div class="content-box">
                <div class="title">
                    <h3>{{ content.title }}</h3>
                </div>
                <hr>
                <div class="post-location">
                    <p><b>무슨 산?</b></p>
                    <p>{{ content.mountain_name }}</p>
                </div>
                <hr>
                <div class="post-text">
                    <p><b>내용</b></p>
                    {% if content.content|length > 20 %}
                    <p>{{ content.content|slice:20 }}...</p>
                    {% else %}
                    <p>{{ content.content|slice:20 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    {% csrf_token %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/posts.js' %}"></script>
{% endblock %}
