{% extends 'base.html' %}

{% block title %}
나의페이지
{% endblock %}

{% load static %}
{% load my_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user/mypage.css' %}">
{% endblock %}

{% block content %}
<div id="content-wrapper">
    <div id="user-info-area">
        <div id="user-photo-wrapper">
            <img src="{% static myinfo.photo %}" alt="">
        </div>
        <div id="user-info-wrapper">
            <span>{{ user.nickname }}</span>
        </div>
    </div>
    <div id="post-area">
        <div id="tab-area">
            <div class="active"><span class="material-icons">grid_view</span></div>
            <div><span class="material-icons">favorite_border</span></div>
        </div>
        <div class="tab-area-content" id="post-image-area">
            {% for mypost in myposts %}
            {% cycle 'one' 'two' 'three' as step silent %}
            {% if step == 'one' %}
            <div class="a-row">
            {% endif %}
                <div class="post-image-wrapper" data-id="{{ mypost.id }}">
                    <img src="{% static mypost.hiking_img %}" alt="">
                </div>
            {% if step == 'three' or forloop.last %}
            </div>
            {% endif %}
            {% endfor%}
        </div>
        <div class="tab-area-content hide" id="like-image-area">
            {% for post in myfavorite %}
            {% cycle 'one' 'two' 'three' as step silent %}
            {% if step == 'one' %}
            <div class="a-row">
            {% endif %}
                <div class="post-image-wrapper" data-id="{{ post.id }}">
                    <img src="{% static post.hiking_img %}" alt="">
                </div>
            {% if step == 'three' %}
            </div>
            {% endif %}
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/user/mypage.js' %}"></script>
{% endblock %}